html,
body {
  font-family: Raleway, sans-serif !important;
  background-color: var(--color-background);
  color: white;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  margin: 0px;
}

#main {
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes growWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-grow {
  animation: growWidth 2s ease-in-out forwards;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

article.election-pledge > p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  margin-bottom: 10px;
  color: white;
}

article.election-pledge > ol > li {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0%;
  color: var(--color-neutral-400);
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 10px;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

article.my-profile > p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #f9fafb;
}

article.my-profile > ol > li {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0%;
  color: #f9fafb;
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 1.5em;
  text-indent: -1.5em;
}



article#advocacy-campaign-details > h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0%;
  color: white;
  margin-bottom: 10px;
  margin-top: 50px;
  z-index: 50;
}

article#advocacy-campaign-details > p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: var(--color-neutral-400);
    margin-bottom: 20px;
    z-index: 50;
  }

@media (max-width: 1024px) {
  article#advocacy-campaign-details > p {
    font-size: 14px;
    z-index: 50;
  }

}
@media (max-width: 1024px) {
  article#advocacy-campaign-details > h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 6px;
  }
}
